img{
    width: 20%;
    height: 40%;
    margin-top: 300px;
    transition: width 2s, height 2s, transform 2.5s;
    
}

img:hover {
    transform: matrix(180deg);
}

.center {
display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {
    transform: rotate(180deg);
    width: 30%;
    height: 50%;
    transform: rotate(360deg);
}

body {
    background-color: #832118;
}

.fadein{
   animation: fadeIn ease 2s; 
}