.one{
    position: absolute;
    width: 1831px;
    height: 2441px;
    left: -310.7px;
    top: -308.94px; 
    transform: rotate(90deg);
    object-fit: cover;
    z-index: -1;
}
.two{
    position: absolute;
    width: 700px;
    height: 750px;
    left: 457.64px;
    top: 250.43px; 
    object-fit: cover;
    transform: rotate(0.03deg);
}
h1{
    position: absolute;
    width: 518px;
    height: 59px;
    left: 1059.3px;
    top: 250.43px;
    
    font-family: "linotype didot";
    font-style: oblique;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #400000;
    transform: rotate(89.88deg); 
}